@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
@{
    Layout = "";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SFA VIDEOGAME COLLECTION</title>
    <link rel="stylesheet" href="~/css/site.css">
</head>
<body>
    <div class="title_cover">
        <div class="title_content">
            <button class="title_button"><a href="/LoginPage/LoginSignUp">LOG IN / SIGN UP</a></button>
            <h1 class="title_text">WELCOME TO SFA VIDEO GAME COLLECTION!</h1>
        </div>
    </div>

    <nav class="nav_bar">
        <div class="navbar_container">
            <div class="nav_menu">
                <ul class="navbar_menu">
                    <li class="navbar__item">
                        <a href="/" class="navbar_links">Home</a>
                    </li>
                    <li class="navbar__item">
                        <a href="/GamesCollection/GamesCollection" class="navbar_links">Games</a>
                    </li>
                    <li class="navbar__item">
                        <a href="/CommunityRatings/CommunityRatings" class="navbar_links">Community Ratings</a>
                    </li>
                    <li class="navbar__item">
                        <a href="/NewReleases/NewReleases" class="navbar_links">Upcoming Releases</a>
                    </li>
                    <li class="navbar__item">
                        <a href="/UserLists/UserLists" class="navbar_links">Public Lists</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="main_content">
        <div class="userated_content">
            <h2>Top User Rated Games</h2>
        </div>
        <div class="upcoming_content">
            <h2>Top Upcoming Releases</h2>
        </div>
    </div>
</body>
</html>
